/dts-v1/;
/plugin/;

/ {
    compatible = "brcm,bcm2835";

    fragment@0 {
        target = <&gpio>;
        __overlay__ {
            monitor_pins: monitor_pins {
                brcm,pins = <17 18 27>;    /* GPIO 17, 18, 27 */
                brcm,function = <0 1 0>; /* 17 = Input, 18 = Output, 27 = Input */
                brcm,pull = <0 0 0>;     /* 0 = No pull (Floating) */
            };
        };
    };

    fragment@1 {
        target-path = "/";
        __overlay__ {
            hipi_ups {
                compatible = "custom,hipi-ups";
                power-gpios = <&gpio 17 0>;  /* 17 = Pin, 0 = Active High */
                status-gpios = <&gpio 18 0>; /* 18 = Pin, 0 = Active High */
                online-gpios = <&gpio 27 0>; /* 27 = Pin, 0 = Active High */

                pinctrl-names = "default";
                pinctrl-0 = <&monitor_pins>;

                status = "okay";
            };
        };
    };
};
